* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
    background-color: black;
}

.landing {
    width: 90%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.landing .top_menu {
    width: 100%;
    height: 88px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing .top_menu img {
    max-width: 86px;
}

.landing .container-image {
    width: 100%;
    height: 20%;
    position: relative;
    display: flex;
}

.landing .container-image picture {
    position: relative;
    width: 100%;
    height: 10%;
}

.landing .container-image .bnt {
    position: absolute;
    top: 57%;
    left: 7%;
}

.landing .container-image .bnt button {
    all: initial;
    height: 46px;
    padding: 0px 39px 0px 39px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    box-shadow: 12px 15px 2px 1px rgb(0 0 0 / 63%);
}

.ocean {
    height: 200px;
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

.ocean.v01 .wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
}

.ocean.v01 {
    transform: rotate(180deg);
    position: absolute;
    top: 0;
    left: 0;
}

.wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
    position: absolute;
    bottom: -25px;
    width: 6400px;
    height: 100%;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
    bottom: -25px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
}

@keyframes wave {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -1600px;
    }
}

@keyframes swell {
    0%, 100% {
        transform: translateY(-25px);
    }
    50% {
        transform: translateY(5px);
    }
}

.container_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 39px;
    position: relative;
    box-shadow: 12px 15px 2px 1px rgb(0 0 0 / 63%);
}

.container_cards .card {
    position: relative;
    cursor: pointer;
}

.container_cards .card:hover {
    position: relative;
    transform: scale(1.1)
}

h1 {
    position: absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: 12px 15px 2px 1px rgb(0 0 0 / 63%);
    text-decoration: none;
}

.box_text {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}